/* Estilos generales */
body {
  background-color: #f8f9fa;
}

/* Contenedor principal */
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Tarjeta del formulario */
.card {
  padding: 2em;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: white;
  width: 100%;
  max-width: 420px; /* Ajustar el tamaño de la tarjeta */
}

/* Formulario */
form {
  width: 100%;
}

/* Inputs del formulario */
.form-control {
  width: 100%;
}

/* Botón de login */
button {
  width: 100%;
}
